@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanThinFaNum.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanRegularFaNum.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBoldFaNum.ttf);
  font-weight: 600;
  font-style: semi-bold;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBoldFaNum.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanExtraBoldFaNum.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBlackFaNum.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanExtraBlackFaNum.ttf);
  font-weight: 950;
}
header .logo {
  width: 60px;
  height: 60px;
}

header a {
  font-weight: 700;
  font-size: 1.6rem;
  transition: 0.3s;
  color: var(--color-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

header nav a:hover {
  color: red;
}

header span {
  color: var(--color-primary);
}

header .vakil {
  font-weight: 400;
}

header .yara {
  font-weight: 700;
}

.logo-title {
  display: inline-block;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #012c5b;
  --color-primary-darker: #010813;
  --color-tertiary: #fffb4c;
  --color-body-bg: #dbdbdb;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --box-shadow: 2px 2px 5px 1px rgb(0, 0, 0, 0.3);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "iran yekan", sans-serif;
  background-color: var(--color-body-bg);
  direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  padding: 2rem 12rem;
}

.sub-heading {
  font-size: 1.6rem;
}

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--color-primary);
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
}

.section-hero {
  padding: 2rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 2.25fr 0.78fr;
  gap: 2rem;
}

.right-column {
  position: relative;
}

.right-column img {
  width: 100%;
}

.right-column-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: absolute;
  top: 50%;
  padding-right: 10rem;
  transform: translateY(-50%);
  color: white;
}

.right-column-content h1 {
  font-size: 3.4rem;
  width: 60%;
  line-height: 1.4;
}

.right-column-content p {
  font-size: 2.4rem;
  width: 60%;
  color: var(--color-gray-400);
}

.right-column-content a {
  color: white;
}

.right-column a {
  font-weight: 700;
  color: red;
  font-size: 2rem;
}

.left-column {
  width: 100%;
  background-color: #bfbfbf;
  box-shadow: var(--box-shadow);
}

.right-img {
  height: 100%;
}

.left-img {
  width: 100%;
  height: 50%;
}

.news-content {
  padding: 3rem 1rem;
}

.news-content h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

.left-column .sub-heading {
  padding-top: 3rem;
  font-size: 1.6rem;
}

.sub-heading a {
  color: red;
  font-weight: 700;
}

/********** FEATURES *********/
.section-features {
  margin-top: 10rem;
  letter-spacing: -0.5px;
}

.features {
  width: 100%;
}

.features h2 {
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  padding-top: 4rem;
}

.card {
  background-color: var(--color-primary);
  text-align: center;
  width: 100%;
  padding: 2rem;
  min-height: 25rem;
  border-top: 0.5rem solid var(--color-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.card img {
  height: 5rem;
  transform: translateX(6px);
}

.card .heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-gray-100);
}

.card .sub-heading {
  color: var(--color-gray-400);
  text-align: center;
}

/***********************************/
/********** HOW IT WORKS *********/
/***********************************/
.section-how_it_works {
  margin-top: 16rem;
}

.how-it-works h2 {
  text-align: center;
}

.step-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
}

.step__content {
  width: 100%;
  height: 100%;
}

.step__content h3 {
  font-weight: 700;
}

.sub-heading-container {
  color: var(--color-gray-800);
  padding: 2rem 2rem 0 0;
}

.sub-heading-container strong {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-gray-900);
}

.sub-heading-container p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-gray-800);
  line-height: 1.7;
}

.step__img {
  width: 100%;
}

.step__img img {
  width: 90%;
}

/*# sourceMappingURL=output.css.map */
