@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanThinFaNum.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanRegularFaNum.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBoldFaNum.ttf);
  font-weight: 600;
  font-style: semi-bold;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBoldFaNum.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanExtraBoldFaNum.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBlackFaNum.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanExtraBlackFaNum.ttf);
  font-weight: 950;
}
header .logo {
  width: 60px;
  height: 60px;
}

header a {
  font-weight: 700;
  font-size: 1.6rem;
  transition: 0.3s;
  color: var(--color-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

header nav a:hover {
  color: red;
}

header span {
  color: var(--color-primary);
}

header .vakil {
  font-weight: 400;
}

header .yara {
  font-weight: 700;
}

.logo-title {
  display: inline-block;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #012c5b;
  --color-primary-darker: #010813;
  --color-tertiary: #fffb4c;
  --color-tertiary-darker: #b3b040;
  --color-tertiary-lighter: #fffc8d;
  --color-body-bg: #dbdbdb;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --box-shadow: 2px 2px 5px 1px rgb(0, 0, 0, 0.3);
  --transition-3s: 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "iran yekan", sans-serif;
  background-color: var(--color-body-bg);
  direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 2rem 12rem;
}

.sub-heading {
  font-size: 1.6rem;
}

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--color-primary);
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
}

.section-hero {
  padding: 2rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 2.25fr 0.78fr;
  gap: 2rem;
}

.right-column {
  position: relative;
}

.right-column img {
  width: 100%;
}

.right-column-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  padding-right: 10rem;
  transform: translateY(-50%);
  color: white;
}

.right-column-content h1 {
  font-size: 3.4rem;
  width: 60%;
  line-height: 1.4;
}

.right-column-content p {
  font-size: 2.4rem;
  width: 60%;
  color: var(--color-gray-400);
}

.right-column-content a {
  color: white;
}

.right-column a {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-weight: 800;
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  transition: var(--transition-3s);
}

.right-column a:hover {
  background-color: var(--color-tertiary-darker);
}

.left-column {
  width: 100%;
  background-color: #bfbfbf;
  box-shadow: var(--box-shadow);
}

.right-img {
  height: 100%;
}

.left-img {
  width: 100%;
  height: 50%;
}

.news-content {
  padding: 3rem 1rem;
}

.news-content h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

.left-column .sub-heading {
  padding-top: 3rem;
  font-size: 1.6rem;
}

.sub-heading a {
  color: red;
  font-weight: 700;
}

/********** FEATURES *********/
.section-features {
  margin-top: 10rem;
  letter-spacing: -0.5px;
}

.features {
  width: 100%;
}

.features h2 {
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  padding-top: 4rem;
}

.card {
  background-color: var(--color-primary);
  text-align: center;
  width: 100%;
  padding: 2rem;
  min-height: 25rem;
  border-top: 0.5rem solid var(--color-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.card img {
  height: 5rem;
  transform: translateX(6px);
}

.card .heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-gray-100);
}

.card .sub-heading {
  color: var(--color-gray-400);
  text-align: center;
}

/***********************************/
/********** HOW IT WORKS *********/
/***********************************/
.section-how_it_works {
  margin-top: 16rem;
}

.how-it-works h2 {
  text-align: center;
}

.step-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
}

.step__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step__content h3 {
  font-weight: 700;
}

.sub-heading-container {
  color: var(--color-gray-800);
  padding: 2rem 2rem 0 0;
}

.sub-heading-container strong {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-gray-900);
}

.sub-heading-container p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-gray-800);
  line-height: 1.7;
}

.step__img {
  width: 100%;
}

.step__img img {
  width: 100%;
}

/***********************************/
/********** WHY US *********/
/***********************************/
.why-us {
  margin-top: 16rem;
}

.why-us-container {
  background-color: var(--color-primary);
  color: var(--color-gray-200);
  display: flex;
  padding: 8rem;
}

.why-us__cta-container {
  background-color: var(--color-primary);
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.column {
  width: 100%;
}

.column img {
  width: 100%;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-right: 4rem;
}

.column-left h2 {
  color: var(--color-gray-200);
  font-size: 4.2rem;
  width: 55%;
  line-height: 1.4;
}

.column-left p {
  width: 65%;
  font-size: 1.6rem;
  color: var(--color-gray-400);
}

.column-left a {
  display: inline-block;
  padding: 1.5rem 4.5rem;
  color: var(--color-tertiary);
  border: 3px solid var(--color-tertiary);
  font-size: 2.6rem;
  border-radius: 6rem;
  transition: 0.3s;
  font-weight: 700;
}

.column-left a:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

/***********************************/
/********** TESTIMONIALS *********/
/***********************************/
.section-testimonials {
  margin-top: 16rem;
}

.testimonials-container h2 {
  text-align: center;
}

.testimonials__cards-container {
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.testimonials__card {
  background-color: #e1e1e1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonials__card .fa-star {
  color: #ffc200;
  font-size: 3.2rem;
}

.star-icons .fa-star:last-child {
  color: #a8a8a8;
}

.comment p {
  font-size: 1.6rem;
  color: var(--color-gray-700);
}

.profile img {
  display: block;
  border-radius: 100%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
}

/***********************************/
/********** CTA *********/
/***********************************/
.section-cta {
  margin-top: 16rem;
}

.cta-container {
  background-color: var(--color-primary);
  text-align: center;
  padding: 8rem 34rem;
}

.cta-container h2 {
  color: var(--color-gray-100);
  font-size: 4.2rem;
}

.cta-container p {
  color: var(--color-gray-400);
  padding-top: 1.6rem;
  font-size: 2.2rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 800;
  transition: var(--transition-3s);
}

.cta-container .btn-cta {
  margin-top: 2rem;
  padding: 2rem 4rem;
  border-radius: 4rem;
}

.btn:hover {
  background-color: var(--color-tertiary-darker);
}

/***********************************/
/********** FOOTER *********/
/***********************************/
.section-footer {
  margin-top: 8rem;
}

footer {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.footer__nav-link {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.footer__content a {
  color: var(--color-primary);
}

.footer__content .yara {
  font-size: 2rem;
  font-weight: 800;
}

.footer__content p {
  color: var(--color-gray-700);
}

.footer__content .vakil {
  font-size: 2rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
}

.footer__social-icons {
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  gap: 2rem;
  justify-content: flex-start;
}

.header .nav-mobile {
  display: none;
}

@media screen and (max-width: 1487px) {
  .hero .right-column h1 {
    font-size: 2.8rem;
    line-height: 1.7;
  }
  .hero .right-column p {
    font-size: 2rem;
  }
  .hero .right-column .hero-cta {
    margin-top: 2rem;
  }
  .hero .left-column p {
    font-size: 1.4rem;
  }
  /*****WHY US*****/
  .why-us-container .heading-secondary {
    width: 65%;
  }
}
@media screen and (max-width: 1278px) {
  .why-us-container .heading-secondary {
    width: 80%;
  }
  .why-us-container p {
    width: 80%;
  }
}
@media screen and (max-width: 1025px) {
  .menu-active {
    right: 0 !important;
  }
  .nav-list {
    transition: 0.5s;
  }
  #multiply-icon {
    color: white;
    font-size: 3rem;
    padding-top: 2rem;
  }
  #bars-icon {
    color: var(--color-primary);
  }
  .container.header {
    padding: 0;
  }
  .container {
    padding: 2rem 12rem;
  }
  .header .nav {
    display: none;
  }
  .header .nav-mobile {
    display: block;
    position: relative;
  }
  header a {
    font-size: 2rem;
  }
  header .logo {
    width: 7rem;
    height: 7rem;
  }
  .header .nav-mobile .nav-list {
    background-color: var(--color-primary);
    position: absolute;
    right: -30rem;
    top: -3rem;
    flex-direction: column;
    padding: 3rem;
    width: 30rem;
    height: 70vh;
    z-index: 1;
    text-align: center;
  }
  .logo-link {
    padding: 1rem 0 0 1rem;
  }
  .nav-mobile .fa-bars {
    font-size: 4rem;
    padding: 1.6rem 1.6rem 0 0;
  }
  .header .nav-mobile .nav-list a {
    color: var(--color-gray-100);
  }
  .container.hero {
    padding: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .right-column {
    position: relative;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right-column img {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .right-column-content {
    gap: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
  .hero-cta {
    width: 50%;
  }
  .hero-cta .cta-btn {
    display: block;
  }
  .left-column {
    width: fit-content;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(133, 133, 133);
  }
  .left-column img {
    width: 100%;
  }
  .cards-container {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 3rem;
    padding-top: 4rem;
    flex-direction: column;
    margin: auto;
  }
  .step-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 6rem;
    border: 1px solid rgba(18, 0, 119, 0.452);
    padding: 1rem;
  }
  #step-two {
    flex-direction: column-reverse;
  }
  .why-us-container {
    flex-direction: column-reverse;
    gap: 6rem;
  }
  .column-left {
    align-items: center;
    text-align: center;
  }
  .column.right {
    width: 75%;
    margin: auto;
  }
  .testimonials__card:nth-child(2),
  .testimonials__card:nth-child(3) {
    display: none;
  }
  .cta-container {
    background-color: var(--color-primary);
    text-align: center;
    padding: 8rem;
  }
  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  .cards-container {
    width: auto;
  }
}
@media screen and (max-width: 750px) {
  .column.right {
    width: auto;
  }
  .container {
    padding: 2rem 2rem;
  }
  .why-us-container {
    padding: 2rem;
  }
  .column-left {
    padding-right: 0;
  }
  .cta-container h2 {
    font-size: 3rem;
  }
  .cta-container {
    padding: 4rem;
  }
  .footer__content {
    align-items: center;
  }
  .footer__social-icons {
    justify-content: center;
  }
}
@media screen and (max-width: 440px) {
  .hero .right-column h1 {
    font-size: 2.4rem;
  }
  .hero .right-column p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 350px) {
  .hero .right-column h1 {
    font-size: 2rem;
  }
  .hero .right-column p {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=output.css.map */
