header .logo {
  width: 60px;
  height: 60px;
}

header a {
  font-weight: 700;
  font-size: 1.6rem;
  transition: 0.3s;
  color: var(--color-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

header nav a:hover {
  color: red;
}

header span {
  color: var(--color-primary);
}

header .vakil {
  font-weight: 400;
}

header .yara {
  font-weight: 700;
}

.logo-title {
  display: inline-block;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
