@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanThinFaNum.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanRegularFaNum.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBoldFaNum.ttf);
  font-weight: 600;
  font-style: semi-bold;
}

@font-face {
  font-family: "iran yekan";
  src: url(../../font/IRANYekanBoldFaNum.ttf);
  font-weight: 700;
}
