@media screen and (max-width: 1487px) {
  .hero .right-column h1 {
    font-size: 2.8rem;
    line-height: 1.7;
  }

  .hero .right-column p {
    font-size: 2rem;
  }

  .hero .right-column .hero-cta {
    margin-top: 2rem;
  }

  .hero .left-column p {
    font-size: 1.4rem;
  }

  /*****WHY US*****/
  .why-us-container .heading-secondary {
    width: 65%;
  }
}
